<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship locations</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="css/styles.css/styles.css" rel="stylesheet" type="text/css">

</head>
<div id="app" class="container">

    <nav>
        <button class="btn btn-primary " type="button" value="Página anterior" onClick="history.go(-1);">Back to
            games</button>
    </nav>
    <!--para no olvidar la cabecera-->
    <div class="row">
        <h1 class="col-5">{{player1.name}} </h1>
        <img class="col-1" src="images/vs.png" alt="vs">
        <h1 class="col-5">{{player2.name}}</h1>
    </div>

    <body>
        <main class="row">
            <div class="col-6">
                <table class="table table-dark table-bordered border-primary tables">
                    <thead>
                        <th></th>
                        <th class="casillas" v-for="numero in numeros">{{numero}}</th>
                    </thead>
                    <tbody v-for="letra in letras">
                        <tr>
                            <td class="casillas"><strong>{{letra}}</strong></td>
                            <td v-on:click="sendShip(letra,numero)" v-bind:id="letra + numero" v-for="numero in numeros"></td>
                        </tr>
                    </tbody>
                </table>
                <div v-if='games.ships == 0' class="btn-group">
                    <select v-model:value="shipSelected" class="form-select" aria-label="Default select example">
                        <option v-bind:value="ship" v-for="ship in shipWithLength">{{ship.typeShip}}</option>
                    </select>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" v-model:value="selectOrientation" value="vertical" checked>
                        <label class="form-check-label" for="inlineRadio1">Vertical</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" v-model:value="selectOrientation" value="horizontal">
                        <label class="form-check-label" for="inlineRadio2">Horizontal</label>
                    </div>
                </div>
                <button v-if='shipClient.length == 5' v-on:click="postShips" type="button" class="btn btn-success ">Add
                    ships</button>
                <button v-if='shipClient != ""' v-on:click="removeShip" type="button" class="btn btn-danger ">Remove
                    ships</button>
                <button v-if='shipClient.length < 2' class="btn btn-info  " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">How to play</button>
                <table class="table table-sm table-borderless table-dark">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col" colspan="2">Sunken Ships</th>
                        </tr>
                        <tr>
                            <th>You</th>
                            <th>Oponnent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="nave in sunkShip1">{{nave}}</td>
                            <td v-for="nave2 in sunkShip2">{{nave2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-dark table-bordered border-primary tables">
                    <thead>
                        <th></th>
                        <th class="casillas" v-for="numero in numeros">{{numero}}</th>
                    </thead>
                    <tbody v-for="letra in letras">
                        <tr>
                            <td class="casillas"><strong>{{letra}}</strong></td>
                            <td v-on:click="sendSalvo(letra,numero)" v-bind:id="letra + numero + r " v-for="numero in numeros"></td>
                        </tr>
                    </tbody>
                </table>
                <template v-if="games.ships != 0">
                    <button v-on:click="postSalvo" type="button" class="btn btn-success ">fire!!</button>
                    <button v-if="salvoesClient !='' " v-on:click="removeSalvo" type="button"
                        class="btn btn-danger ">remove fires</button>
                </template>
            </div>

            <div>



                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">Rules of match</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        Hello <strong>{{player1.name}}</strong>
                        <p>How to play?</p>
                        <ul>
                            <li>
                                First: Place the five ships where you want within the grid
                            </li>
                            <li>
                                Second: With the button remove ships you can remove all the ships placed and choose new positions
                            </li>
                            <li>

                                Third: When you have the 5 ships set you can press Add Ships
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <footer></footer>
            <!--para no olvidar pie de pagina-->
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js " integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin=" anonymous "></script>
<script src="scripts/game.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>